@use "../mixins/mixins" as *;
.hero {
    width: 100%;
    aspect-ratio: 13/ 6;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 89px;
    @include to-xxl {
        padding-top: 20px;
    }
    &_bg {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        max-width: 1790px;
        max-height: 891px;
        object-fit: contain;
        object-position: top right;
        @include to-xxl {
            z-index: 9;
            padding-left: 40px;
        }
    }
    &__title {
        width: max-content;
        padding: 10px 130px;
        padding-left: 102px;
        padding-right: 243px;
        color: rgba(255, 255, 255, 1);
        font-size: 74px;
        @include fluid-text(30, 74);
        font-weight: 900;
        line-height: 100%;
        text-transform: uppercase;
        background: linear-gradient(129.36deg, rgba(237, 176, 68, 1), rgba(192, 137, 40, 1) 51%, rgba(241, 221, 145, 1) 100%);
        @include to-xxl {
            position: relative;
            z-index: 10;
            margin: 0 auto;
            padding: 20px;
        }
    }
    &__content {
        @include to-xxl {
            position: relative;
            z-index: 10;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &_descr {
        margin-top: 24px;
        max-width: 800px;
        color: rgba(13, 13, 13, 1);
        font-size: 22px;
        @include fluid-text(18, 22);
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        @include to-xxl {
            text-align: center;
        }
    }
    &_subdescr {
        margin-top: 53px;
        max-width: 820px;
        color: rgba(13, 13, 13, 1);
        font-size: 16px;
        @include fluid-text(14, 16);
        font-weight: 300;
        line-height: 100%;
        text-align: left;
        @include to-xxl {
            text-align: center;
        }
    }
}
