@use "../mixins/mixins" as *;
.spentus {
    width: 100%;
    height: auto;
    padding-top: 50px;

    &__title {
        margin-bottom: 18px;
        color: rgba(13, 13, 13, 1);
        @include fluid-text(30, 68);
        font-weight: 900;
        line-height: 100%;
        text-align: center;
        text-transform: uppercase;
    }
    &__wrapper {
        width: 100%;
        padding: 34px 0 191px 0;
        @include to-1278 {
            padding: 31px 0 60px 0;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        @include to-1278 {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
    }
    picture {
        position: relative;
        z-index: 11;
        &:before {
            display: block;
            position: absolute;
            bottom: 0;
            content: "";
            width: 100%;
            height: 78px;
            z-index: 10;
            background-color: #ae1924;
            filter: blur(30px);
            @include to-1278 {
                bottom: 33px;
                display: none;
            }
            @mixin to-md {
                bottom: 3px;
                filter: blur(25px);
            }
        }
    }
    &-bg {
        flex-shrink: 2;
        display: block;
        height: 304px;
        aspect-ratio: 11/6;
        object-fit: contain;
        margin-top: 31px;
        position: relative;
        z-index: 10;
        /* filter: drop-shadow(5px 24px 16px #ae1924); */
        @include to-1278 {
            margin-top: 0;
        }
        @include to-md {
            height: auto;
            max-width: 100%;
            max-height: 400px;
            aspect-ratio: unset;
        }
    }
    &_text-wrapper {
        align-self: start;
        width: 100%;
        max-width: 540px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 63px auto;
        grid-auto-rows: auto;
        position: relative;
        z-index: 9;
        /*  @include to-1570 {
            grid-template-rows: auto 18px auto;
        } */
        @include to-1278 {
            grid-template-rows: auto auto;
            row-gap: 15px;
            align-self: unset;
        }
    }
    &_acc {
        &-title {
            margin-bottom: 26px;
            width: 100%;
            max-width: 540px;
            border-radius: 100px;
            background: rgba(255, 255, 255, 1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 10px;
            border: 2px solid #edb044;
            position: relative;
            cursor: pointer;
            user-select: none;

            &-img {
                display: block;
                width: 45px;
                height: 45px;
                transition-property: transform;
                transition-duration: 0.4s;
                @include to-md {
                    width: 35px;
                    height: 35px;
                }
                &_active {
                    transform: rotate(90deg);
                }
            }
            @include to-1278 {
                margin-bottom: 15px;
            }
            &-txt {
                color: rgba(13, 13, 13, 1);
                font-size: 22px;
                @include fluid-text(15, 22);
                font-weight: 400;
                line-height: normal;
                text-align: left;
            }
        }
        &-descr {
            max-width: 540px;
            /*  max-height: 150px; */
            color: #0d0d0d;
            font-size: 16px;
            font-weight: 300;
            line-height: 100%;
            text-align: left;
            /* overflow: auto;
            padding: 5px 0; */
            height: 0;
            padding: 0;
            opacity: 0;
            overflow: hidden;
            scrollbar-width: thin;
            scrollbar-color: #edb044 transparent;
            transition-property: height, opacity;
            transition-duration: 0.4s;
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(174, 25, 36, 1);
                border-radius: 10px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: rgba(174, 25, 36, 0.8);
            }
            &::-webkit-scrollbar-button {
                display: none;
                width: 0;
                height: 0;
            }
            /*  @include to-1278 {
                overflow: visible;
                max-height: max-content;
            } */
            &_active {
                overflow: visible;
                padding: 5px 0;
                opacity: 1;
            }
        }
        .line {
            position: relative;
            &::after {
                content: "";
                display: block;
                position: absolute;
                right: -124px;
                width: 124px;
                height: 5px;
                background-color: #f1dd91;
            }
            @include to-1278 {
                &::after {
                    display: none;
                }
            }
        }
        .line2 {
            position: relative;
            &::after {
                content: "";
                display: block;
                position: absolute;
                left: -124px;
                width: 124px;
                height: 5px;
                background-color: #f1dd91;
            }
            @include to-1278 {
                &::after {
                    display: none;
                }
            }
        }
        &:nth-of-type(2) {
            grid-row: 3/4;
            @include to-1278 {
                grid-area: unset;
            }
        }
    }
}
